# Mailfence proxy
NGINX_VERSION=1.21.1

# Nextcloud
ROOT_DOMAIN=yourdomain.io
NEXTCLOUD_PG_USER=pguser
NEXTCLOUD_PG_PASSWORD=pgpass
NEXTCLOUD_PG_DB=nx
NEXTCLOUD_ADMIN_USER=admin123
NEXTCLOUD_ADMIN_PASSWORD=coolpassword456

